{% extends "myapp/base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Edit ToDo</h2>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_title" class="form-label">Title</label>
            <input type="text" class="form-control" id="id_title" name="title" value="{{ todo.title }}" required>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <textarea class="form-control" id="desc" name="desc" rows="4" required>{{ todo.desc }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update ToDo</button>
    </form>
    <br>
    <a href="{% url 'todo_list' %}" class="btn btn-primary">Back to List</a>
</div>
{% endblock %}