psycopg2-binary
djangorestframework
djangorestframework-simplejwt
asgiref==3.8.1
Django==5.2.1
ping3==4.0.8
python-dotenv==1.0.1
sqlparse==0.5.3
tzdata==2025.2
celery==5.3.4
redis==5.0.3
flower==2.0.1
django-celery-beat==2.8.1